body {
    font-family: "Verdana";
    font-size: 75;
    color: #e8a45b;
    background-color: #4e9592;
  }

.jumbotron {
    background-image: url("science_1.jpg");
    opacity: 0.800;
    background-size: 100% 100%
}

.panel-body{
  height: 265px
}

footer {
    padding: 25px 25px 25px 25px;
  }